In [6]:
import pandas as pd
import re

In [21]:
table=pd.read_csv("books_new.csv")

In [28]:
table.head()

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin

In [29]:
table.columns

Index(['Title', 'Author', 'Genre', 'SubGenre', 'Height', 'Publisher'], dtype='object')

In [30]:
table.shape

(211, 6)

In [31]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Title      211 non-null    object
 1   Author     187 non-null    object
 2   Genre      211 non-null    object
 3   SubGenre   211 non-null    object
 4   Height     211 non-null    int64
 5   Publisher  115 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.0+ KB

In [40]:
def imp_features(table):
    data=table.copy()
    for i in range(0,table.shape[0]):
        data["imp"]=data["Title"]+" "+data["Author"]+" "+data["Genre"]+" "+data["SubGenre"]
    return data

In [41]:
data = imp_features(table)

In [42]:
data.head()

,Title,Author,Genre,SubGenre,Height,Publisher,imp
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,"Fundamentals of Wavelets Goswami, Jaideva tech..."
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,"Data Smart Foreman, John tech data_science"
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,"God Created the Integers Hawking, Stephen tech..."
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,"Superfreakonomics Dubner, Stephen science econ..."
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,"Orientalism Said, Edward nonfiction history"

In [43]:
data["ids"]=[i for i in range(0,data.shape[0])]

In [44]:
data.head()

,Title,Author,Genre,SubGenre,Height,Publisher,imp,ids
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley,"Fundamentals of Wavelets Goswami, Jaideva tech...",0
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley,"Data Smart Foreman, John tech data_science",1
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin,"God Created the Integers Hawking, Stephen tech...",2
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins,"Superfreakonomics Dubner, Stephen science econ...",3
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin,"Orientalism Said, Edward nonfiction history",4

In [62]:
data.Title

0          Fundamentals of Wavelets
1                        Data Smart
2          God Created the Integers
3                 Superfreakonomics
4                       Orientalism
                   ...
206        Structure and Randomness
207    Image Processing with MATLAB
208                     Animal Farm
209                      Idiot, The
210              Christmas Carol, A
Name: Title, Length: 211, dtype: object

coverting data into vectors

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
import numpy as np
vec=TfidfVectorizer()

In [48]:
vecs=vec.fit_transform(data["imp"].apply(lambda x: np.str_(x)))

In [49]:
vecs.shape

(211, 594)

In [50]:
from sklearn.metrics.pairwise import cosine_similarity

In [51]:
sim=cosine_similarity(vecs)

In [52]:
sim.shape

(211, 211)

In [54]:
sim[2][2]

1.0000000000000002

In [122]:
def recommend(title):
    book_id=data[data.Title==title]["ids"].values[0]
    score=list(enumerate(sim[book_id]))
    sorted_score=sorted(score,key=lambda x:x[1],reverse=True)
    sorted_score=sorted_score[1:]
    bookt=[data[bookt[0]==data["ids"]]["Title"].values[0] for bookt in sorted_score]
    bookg=[data[bookg[0]==data["ids"]]["Genre"].values[0] for bookg in sorted_score]
    books=[bookt[x]+"--" + bookg[x] for x in range(len(bookt))]
    return books

In [101]:
def rec_five(books_list):
    first_five=[]
    c=0
    for b in books_list:
        if c>4:
            break
        c+=1
        first_five.append(b)
    return first_five

In [123]:
lst=recommend("Fundamentals of Wavelets")
rec_five(lst)

['Elements of Information Theory--tech',
 'Principles of Communication Systems--tech',
 'Learning OpenCV--tech',
 'Computer Vision, A Modern Approach--tech',
 'Image Processing with MATLAB--tech']